<div class="body">
  <div class="headbg"></div>

  <div class="container">

    <div class="row first-row ">
      <div class="col-sm-12 col-md-4 ">
        <div class="card mx-auto w-90 box " id="pdf-card" style="width: 18rem;">
          <div class="card-body">
            <div class="CardContents">
              shadhkasd
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-12 col-md-4 ">
        <div class="card mx-auto w-90 box " id="docx-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 ">
        <div class="card mx-auto w-90 box " id="docx-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="container viewer">
    abc
  </div>

</div>