<div class="body">
  <div class="headbg"></div>

  <div class="container">
    <br>
    <br>
    <img src="assets/images/bg.jpg" class="BgWrapper">
    <div class="row">
      <div class="col-sm">
        <strong class="welcome">
          {{ message }}
        </strong>
      </div>
      <div class="col-sm">
        <div (click)="publish()" class="SubmitDiv none">
          Summarize
        </div>
      </div>
    </div>
    <div class="mainDiv">
      <div class="row first-row ">
        <div class="col-sm-12 col-md-4 ">
          <div class="card mx-auto w-90 box " (mouseenter)='hoverBox = true; hover(0)' id="pdf-card" (mouseleave)="hoverBox = false; hover(0);"
            (click)="click(0)" style="width: 18rem;">
            <div class="card-body">
              <div class="CardContents">
                PDF
              </div>
              <div class="pertext">
                Summarize PDF
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 ">
          <div class="card mx-auto w-90 box " (mouseenter)='hoverBox = true; hover(1)' id="pdf-card" (mouseleave)="hoverBox = false; hover(1);"
            (click)="click(1)" style="width: 18rem;">
            <div class="card-body">
              <div class="CardContents">
                URL
              </div>
              <div class="pertext">
                Summarize Web-page
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 ">
          <div class="card mx-auto w-90 box " (mouseenter)='hoverBox = true; hover(2)' id="pdf-card" (mouseleave)="hoverBox = false; hover(2);"
            (click)="click(2)" style="width: 18rem;">
            <div class="card-body">
              <div class="CardContents">
                GGG
              </div>
              <div class="pertext">
                Summarize GGG
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row viewer">
      <pdf-viewer ng-if="!textFlag" src="{{pdf}}" [render-text]="true" [fit-to-page]="true" style="display: block;">
      </pdf-viewer>
      <div *ngIf="textFlag">
        <!-- {{ urlReference.data }} -->
        <iframe class="none" [src]="iframe" width=1000px height=1000px>
          Sorry your browser does not support inline frames.
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="dialogBG dialogBGHide none">
  <div class="waitImg none">
    <img src="assets/progress.gif" class="imgWrapper">
    <br>
    <div class="" style="text-align: center;"> Uploading file.. </div>
  </div>
  <div class="dialogPdf">
    Select file to upload
    <br>
    <div class="file-upload">
      <div class="file-select">
        <div class="file-select-button" id="fileName">Choose File</div>
        <div class="file-select-name" id="noFile">{{ pdfSelected }}</div>
        <input type="file" accept=".pdf" name="chooseFile" id="chooseFile" (change)="onFileSelected($event)">
      </div>
    </div>
    <br>
    <div style="margin-left: 60%;">
      <button mat-raised-button (click)="closeDialog()"> Cancle</button>
      <button style="margin-left: 15px;" mat-raised-button (click)="addPdf()"> Add PDF</button>
    </div>
  </div>
</div>
<div class="dialogBG dialogBGHide none">
  <div class="waitImg none">
    <img src="assets/progress.gif" class="imgWrapper">
    <br>
    <div class="" style="text-align: center;"> Extracting text.. </div>
  </div>
  <div class="dialogPdf">

    <!--   <mat-form-field style="width:400px !important;">
        <input  matInput placeholder="Enter the URL for Wikipedia Article" [(ngModel)]="urlReference">
      </mat-form-field> -->
    Insert Link
    <br>
    <input type="text" name="search" [(ngModel)]="urlReference.link" placeholder="Enter the URL for Wikipedia Article..">
    <!-- <input type="text" (keyup)="getUrl($event)"> -->
    <br>
    <br>
    <div style="margin-left: 60%;">
      <button mat-raised-button (click)="closeDialog(1)"> Cancle</button>
      <button style="margin-left: 15px;" mat-raised-button (click)="addUrl()">Extract</button>
    </div>
  </div>
</div>

<!-- Loading Part -->
<div class="loading none">
  <app-wait-page></app-wait-page>
</div>