<div class="temp"></div><br>
<div class="headder">
  upload file
</div>
<hr>
<div class="container main"> <br><br>


  <div class="file-upload">
    <div class="file-select">
      <div class="file-select-button" id="fileName">Choose File</div>
      <div class="file-select-name" id="noFile">No file chosen...</div>
      <input type="file" name="chooseFile" id="chooseFile" (change)="onFileSelected($event)">
    </div>
  </div>
  <strong class="sliderdiv">
    short&nbsp; <mat-slider class="slider" (change)="slider($event)" min="1" max="100000">
    </mat-slider> long
  </strong>

  <br>
  <!-- <input id="pdf" class="inputfile" ngModel type="file" required (change)="onFileSelected($event)"> -->
  <div class="pdf">
    <pdf-viewer src="{{pdf}}" [render-text]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
  </div>
  <br>
  <button mat-raised-button (click)="view()">upload</button> &nbsp; &nbsp;
  <button mat-raised-button (click)="publish()">test upload</button>




  <!-- <div class="new">
    <form action="http://0.0.0.0:88/upload" method="post" enctype="multipart/form-data">
      <div>
        Input File :
        <input name="inputFile" type="file">
      </div>
      <button type="submit">send</button>
    </form>
  </div>
  <br><br><br> -->




</div>

<!-- <div class="footer">
  
</div> -->