.body-container {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: rgb(17, 126, 216);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.43);
    z-index: -1;
}

.view-doc {
    width: 70%;
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: rgb(245, 245, 245);
    margin: 140px auto 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 23px #212121e8;
    overflow: auto;

}

// .icon-container {
//     float: right;

// }

#switch {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: rgb(0, 71, 204);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

#switch:hover {
    transform: scale(1.4);
    transition: 0.2s ease-in-out;
}

.eye {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title-text
{
    z-index : 1;
    
    font-size : 50px;
    color:white;
    font-weight: 700;
    // text-shadow: 0px 3px 2px rgb(32, 32, 32);
    text-shadow: 0 0px 7.9px black;
    margin-top:20px;
    position: absolute;
    left: 50%;
    top: 08%;
    transform: translate(-50%, -50%);
}