<div class="temp"></div><br>
<div class="headder">
  upload file
</div>
<hr>
<div class="container main"> <br><br>


  <div class="file-upload">
    <div class="file-select">
      <div class="file-select-button" id="fileName">Choose File</div>
      <div class="file-select-name" id="noFile">No file chosen...</div>
      <input type="file" name="chooseFile" id="chooseFile" (change)="onFileSelected($event)">
    </div>
  </div>
  <strong class="sliderdiv">
    short&nbsp; <mat-slider class="slider" (change)="slider($event)" min="1" max="100000">
    </mat-slider> long
  </strong>

  <br>
  <!-- <input id="pdf" class="inputfile" ngModel type="file" required (change)="onFileSelected($event)"> -->
  <div class="pdf">
    <pdf-viewer src="{{pdf}}" [render-text]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
  </div>
  <br>
  <button mat-raised-button (click)="view()">push me</button>
</div>
<!-- <div class="footer">
  
</div> -->