<div class="body-container" id="body-container">

    <div class="typewriter">
        <div class="typewriter-text">Text Summarizer.</div>
    </div>
    <div id="wrapper">
        <div href="#" class="my-super-cool-btn" (click)="redirectToHome()">
            <div class="dots-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <span>Proceed!</span>
        </div>
    </div>
    <div id="developer-text">
        Developed with <span class="heart">&#9829;</span> By <br>Ajay Kumar B.C | Praveen Sharma | Gagan Bharadwaj |
        Lomash Sharma

        <!-- <svg class="heart" width="10px" height="10px"viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
              c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
          </svg>  -->
    </div>
</div>